<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
</nav>
    <br class="contact">
        <h1>Le World Wide Web(WWW) ou le Web </h1></br>
        <h1> Le courrier électronique(ou email)</h1></br>
        <h1>Les forums de discussion (Usenet ou news</h1></br>
        <h1>Le transfert de fichier (par FTP)</h1>
    </p>
</body>
</html>